{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}RiTUAL Book Demo{% endblock %}
{% block page_information %}
<div class="col-sm-3 col-md-7">
                     <div style="width:96%;height=:uto" class="panel panel-default">
                         <h style="font-family:Times New Roman;font-size:20px;padding:5px"> <b>
                             Book Demo:
                         </b>
                         </h>
                  <!--   <div style="width:95%;height=:uto;margin-right:auto;margin-left:auto" class="panel panel-default">-->
                        <p align="justify" style="font-family:Times New Roman;font-size:18px;padding:10px">
                            <br>
Our book analytics demo system allows users to discover new books based on similarity to the seed book provided. To get started, select a book (by clicking on the cover or searching in the search box) and explore what our system can do.                        
For more details and video instruction
                             please visit  <a href="{{url_for('books.about')}}">About</a>.                    
   </p>
                        

                    </div>
                         </div>
{% endblock %}
{% block page_content %}
<div class="col-sm-9 col-md-9">
    {% for book in books.items %}
    {% if loop.index0 is divisibleby 3 %}
    <div class="row">

        {% endif %}
        <div class="col-sm-3 col-md-3">

            <div class="thumbnail">
              <!-- <a href="{{url_for('books.detail',id=book.book_id,slug=book.slug)}}">
                    <p> <h5>Book: {{book.title|title}}</h5> -->

                    <div class="caption">
                        <ul>
                            <a href="{{url_for('books.detail',id=book.book_id,slug=book.slug)}}">
                            <Li><img align = center width="150" height="200" src="{{url_for('static', filename= 'image/')}}{{book.book_id}}_{{book.slug}}.jpg" /></Li>
                         <!--   <li>Author(s): {{", ".join(book.authors) }}</li>
                            <li>Genre(s): {{", ".join(book.genre) }}</li> -->

                        </ul>
                    </div>

                </a>
            </div>


        </div>
        {% if loop.index is divisibleby 3%}
    </div>

    {% endif %}

    {% endfor %}
</div>
{% if books %}
<div class="row">
    <div class="col-sm-9 col-md-9">
        <div class="pagination pull-right">
            {{ macros.render_pagination(books) }}
        </div>

    </div>
</div>
{% endif %}

{% endblock %}
